# Node
**/node_modules/
**/.pnp
**/.pnp.js

# Builds / bundles
client/dist/
server/dist/
**/build/

# Env (mantén ejemplos)
**/.env
**/.env.*
server/.env
!**/.env.example
!**/.env.sample

# Logs
**/*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vite / Cache
client/.vite/
**/.cache/